$font-titulo: "Raleway", sans-serif;
$font-texto: "IBM Plex Mono", monospace;

$cor-bg-body: #080808;
$cor-bg-header: #1B1B1B;
$cor-text-style: #9C9C9C;
$cor-text-title: #FFFFFF;
$cor-border-button: #62BA1B;
$cor-bg-button: #3F8E00;

body {
    margin: 1em;
    background: $cor-bg-body;
}

.header{
    height: 20vh;

    nav{
        background: $cor-bg-header;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        font-size: 1em;
        align-items: center;

        .menu-navegacao{
            margin-right: 5vw;

            a{
            color: $cor-text-style;
            text-decoration: none;
            margin: 2vw;
            }

        }
    
        .menu-social{
            margin-left: 5vw;

            a{
                color: $cor-text-style;
                margin: 2vw;
            }

        }
        
    }

}

main{
    height: 60vh;

    .perfil{
        h1{
            color: $cor-text-title;
            font-family: $font-titulo;
        }
        h3{
            color: $cor-text-style;
            font-family: $font-texto;
        }
        p{
            color: $cor-text-style;
            font-family: $font-texto;
            padding-right: 6vw;
        }
        button{
            color: $cor-text-title;
            border: 1px solid $cor-border-button;
            background: $cor-bg-button;
            border-radius: 10%;
            box-shadow: 1px solid $cor-text-title;
            padding: 1vh;
            a{
                font-family: $font-titulo;
                text-decoration: none;
                color: $cor-text-title;
                padding: 2vw;
            }
        }
    }
}

footer{
    height: 20vh;

    .last-jobs{
        align-items: center;
        color: $cor-text-title;
        justify-content: space-between;
        img{
            padding-left: 4vw;
        }
        
    }

}

.lista-sem-estilo{
    text-decoration: none;
    padding: 0;
    list-style: none;
}

.foto-com-borda{
    padding: 0;
    border-radius: 100%;
}