@media (min-width: 668px) {

}
@media (max-width: 667px) {
    .container{
        max-width: 786px;
    }
    .header{
        nav{
            font-size: 2vi;
            .menu-navegacao{
                margin-right: 0vi;
                a{
                    margin: 1vi;
                }
            }
            .menu-social{
                margin-left: 0vi;
                a{
                    margin: 1vi;
                }
            }
        }
    }
    main{
        .perfil{
            align-items: center;
            flex-direction: column-reverse;
            h1{
                font-size: 6vi;
            }
            h3{
                font-size: 4vi;
            }
            p{
                font-size: 2vi;
            }
            button{
                a{
                    font-size: 2vi;
                }
            }
        }
    }
    footer{
        font-size: 2vi;
        padding-top: 30vw;
        .last-jobs{
            img{
                height: 14vw;
                width: 14vw;
            }
        }
    }
    .foto-com-borda{
        height: 50vw;
        width: 50vw;
    }
    .foto-nav{
        height: 2.5vw;
        width: 2.5vw;
    }
}